@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700);
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F0F0F0;
    color: #2e2e2e;
    font-family: 'Roboto';
}

.Top {
  opacity:0;  /* make things invisible upon start */
  animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-duration:0.75s;
  animation-delay: 0.1s;
  text-align: center;
  height: auto;
  min-height: 300px;
  width: 100%;
  background-image: url(http://www.mmoga.de/images/screenshots/_p/1022869/a9669311448265e18ff0639d3a760b1a_arma-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-box-shadow: 0px 20px 67px 3px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 20px 67px 3px rgba(0,0,0,0.58);
  box-shadow: 0px 20px 67px 3px rgba(0,0,0,0.58);
  margin-bottom: -125px;
  padding-bottom: 140px;
}

.Top .Logo {
  font-size: 55px;
  padding-top: 50px;
  font-weight: 200;
}

.Top .Slogan {
  font-size: 26px;
  font-weight: 100;
}

.Top .Logo, .Top .Slogan {
  opacity:0;  /* make things invisible upon start */
  animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-duration:1s;
  animation-delay: 0.2s;
  color: #f0f0f0;
}

.Navigation {
  opacity:0;  /* make things invisible upon start */
  animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-duration:1s;
  animation-delay: 0.3s;
  display: block;
}

.Top .Navigation li {
  text-align: left;
  float: left;
}
.Top .Navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.Top .Navigation a {
  text-decoration: none;
  color: #f0f0f0;
}
.Top .Navigation ul {
  padding-top: 25px;
  display: table;
  margin-right: auto;
  margin-left: auto;
}
.Top .Navigation .nav-item {
  padding-top: 5px;
  margin: 15px;
  width: 125px;
  transition-duration: 0.2s;
}
.Top .Navigation .nav-item:hover {
  top: auto;
  bottom: auto;
  transform: scale(1.05);
  border-top: 4px solid #f0f0f0;
}

.Top .Navigation .nav-item::selection {
  top: auto;
  bottom: auto;
  transform: scale(1.05);
  border-top: 4px solid #f0f0f0;
}

.Top .Navigation .Nav-item .nav-item-title {
  text-align: center;
  font-size: 22px;
}

.Top .Navigation .Nav-item .nav-item-description {
  font-weight: 200;
  text-align: center;
  padding-top: 5px;
  font-size: 14px;
}

.Main {
  opacity:0;  /* make things invisible upon start */
  animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-duration:1s;
  animation-delay: 0.4s;
  background-color: #f0f0f0;
  margin-right: auto;
  margin-left: auto;
  border-top: 65px solid #f0f0f0;
  border-bottom: 45px solid #f0f0f0;
  margin-top: 25px;
  padding: 0 5%;
  width: 790px;
  height: auto;
  min-height: 90px;
  -webkit-box-shadow: 0px 20px 67px 3px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 20px 67px 3px rgba(0,0,0,0.58);
  box-shadow: 0px 20px 67px 3px rgba(0,0,0,0.58);

}

.Footer {
  color: #f0f0f0;
  height: auto;
  min-height: 175px;
  background-color: #1e1e1e;
  margin-top: -100px;
  width: 100%;
  -webkit-box-shadow: 0px 20px 67px 3px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 20px 67px 3px rgba(0,0,0,0.58);
  box-shadow: 0px 20px 67px 3px rgba(0,0,0,0.58);
}

.Footer .Splitter {
  height: 125px;
}

.Footer .Lower {
  height: 50px;
  opacity:0;  /* make things invisible upon start */
  animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-duration:1s;
  animation-delay: 1s;
}

.Footer .Author {
  font-weight: 300;
  font-size: 14px;
}

.Footer .BI_Warning {
  font-weight: 200;
  margin-top: 5px;
  font-size: 10px;
}
