@Media (max-width: 950px) {

  .body {
    background-color: #FFF;
  }

  .Top {
    min-height: inherit;
  }

  .Navigation {
    display: none;
  }

  .Top .Logo {
    font-size: 55px;
    font-size: 6vw;
    font-weight: 200;
  }

  .Top .Slogan {
    font-size: 26px;
    font-size: 3vw;
    font-weight: 100;
  }

  .Main {
    width: 80%;
  }

  .Footer .Author {
    font-weight: 300;
    font-size: 14px;
    font-size: 1.75vw;
  }

  .Footer .BI_Warning {
    font-weight: 200;
    margin-top: 5px;
    font-size: 10px;
    font-size: 1.2vw;
  }
}
